.smm-clock-container {
  padding: 24px;
  text-align: right;
}

.smm-clock-time {
  font-size: 64px;
  font-weight: 100;
}

.smm-clock-date {
  font-size: 16px;
  padding-right: 8px;
}

.smm-clock-blink {
  animation: smm-clock-blink-animation 1s infinite alternate;
}

@keyframes smm-clock-blink-animation {
  to {
    opacity: 0.0;
  }
}
